.nav-menu-comp{
display: flex;
justify-content: space-around;
}
.nav-menu-comp .navbar-brand{
    color: blue;
    width:14rem;
    text-align: center;
    height:6rem;
    line-height:6rem;
    font-size:2rem;
}

.logo-title {
 
}

.nav-menu-container {
    display: flex;
    justify-content:space-evenly;
    background-color:#f4f4f4;


}

.nav {
    
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.nav * {
    margin-left: 0.9rem;
}


.cart-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    width:3rem;
    height:6rem;

}
.cart-number:hover {
    cursor: pointer;
    
}
.cart-icon {
    position: absolute;
    font-size: 1.8rem;
    margin-right: .5rem;
}
.number {
    position: absolute;
    right: 4px;
    top: 28px;
    width:1rem;
    height: 1rem;
    border-radius:50%;
    background-color: #2f7dfc;
    text-align: center;
    line-height: 1rem;
}

.nav-menu-comp .btn{
    transition: all 0.5s ease-in-out;
}
.nav-menu-comp .btn:hover{
    background-color:red;
}