.home {   
    height: 100vh;   
}

.home .body-part {
    width: 100%;
    height: 80%;
    background-color: #DCE4E7;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1559563458-527698bf5295?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .body-part-text {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left:2rem;
}

.home .title {
    font-size:8rem;
    font-weight: bolder;
}

.home .btn {
    width:12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
